* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #34374C;
}

input:focus,
input:active {
  all: inherit;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 4px 1px #34374C;
  background-color: #F6F6F6;
  background-image: linear-gradient(315deg, #212121 0%, #34374C 74%);
  padding: 15px;
}

.header a {
  color: #F6F6F6;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition: 0.25s ease-in-out;
}

.header a:not(.logo):before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #FFD166;
  transition: 0.25s ease-in-out;
}

.header a:not(.logo):hover:before {
  width: 100%;
}

.header a:not(.logo):before {
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 40px;
  height: 40px;
  background: #e6bbb5;
  position: relative;
  margin-left: 20px;
  border-radius: 100%;
  box-shadow: 1px 1px 5px #bfa5a0;
}

.logo:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 40px;
  background: #F6F6F6;
  transform: rotate(75deg);
  border-radius: 5px;
  border: 1px solid #F6F6F6;
  top: 0px;
  left: 15px;
  box-shadow: 2px 0px 20px 10px #eee;
}

.logo:after {
  content: '';
  width: 30px;
  height: 14px;
  background: #34374C;
  position: absolute;
  border: 4px solid #F6F6F6;
  border-top: none;
  border-radius: 30px;
  top: -11px;
  transform: rotate(-15deg);
  left: -4px;
  box-shadow: 1px 11px 5px #0e0402;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-right: 20px;
}

.main-container {
  height: calc(100vh - 80px);
  width: calc(100% - 24em);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12em;
  text-align: center;
}

.chat-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 30px);
  justify-content: flex-end;
  flex-direction: column;
}

.chat-body {
  color: #F6F6F6;
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.chat-result {
  display: flex;
  justify-content: flex-end;
}

button {
  background: #F6F6F6;
  color: #383838;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.gray-area {
  width: fit-content;
  position: relative;
}

.chat-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
}

input.custom-input {
  border: none;
  font-size: 20px;
  min-height: 45px;
  color: #f6f6f6;
  padding-left: 15px;
  border-radius: 25px;
  background-color: #34374C;
  width: 100%;
}

.custom-input::placeholder {
  color: #f6f6f6;
}

.input-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  width: 100%;
}

.input-container button {
  height: 100%;
  background: #34374C;
  width: 45px;
  min-width: 45px;
  border-radius: 25px;
  color: #f6f6f6;
}

.custom-button {
  background-color: #EE2B47;
  color: #F6F6F6;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 18px;
}

.custom-button:hover {
  filter: brightness(1.2);
}

.animation {
  animation: mymove 1.5s infinite;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-s {
  width: 40px;
  height: 40px;
}

.icon-xs {
  width: 20px;
  height: 20px;
}

.gap-align {
  display: flex;
  align-items: center;
  gap: 15px;
}

@keyframes mymove {
  from {
    background-color: #34374C;
  }

  to {
    background-color: #EE2B47;
  }
}

.hamburger-menu {
  display: none;
  width: 40px;
  height: 40px;
  z-index: 99;
  margin-right: 15px;
}

@media (min-width: 768px) {
  main {
    padding: 0 14em;
  }
}


@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #34374C;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9;
    gap: 15px;
  }

  .home.active {
    transform: translateX(0);
  }

  .home a {
    font-size: 35px;
  }
}